*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.m-b-40px{
    margin-bottom: 40px;
}

.m-b-10px{
    margin-bottom: 10px;
}

.login-register__card{
    width: 500px;
    height: 500px;
    padding: 40px 40px 20px 40px;
    display: flex;
    flex-direction: column;
}

.login-register__label{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 54px;
    margin: 0 auto;
}

.login-register{
    color: grey;
    font-size: 20px;
    align-items: center;
    margin: 0 auto;
}